Click>=8.0.0
dominate==2.3.4
Flask>=2.2.5
Flask-Bootstrap==3.3.7.1  # Prüfen Sie, ob es eine neuere Version gibt
Flask-Cors>=3.0.9
itsdangerous>=1.1.0  # Prüfen Sie, ob es eine neuere Version gibt
Jinja2>=3.1.3
MarkupSafe>=1.1.0  # Prüfen Sie, ob es eine neuere Version gibt
mysqlclient>=1.3.13  # Prüfen Sie, ob es eine neuere Version gibt
six>=1.11.0  # Prüfen Sie, ob es eine neuere Version gibt
visitor==0.1.3
Werkzeug>=2.3.8
